/* The background color was originally placed to make sure css was properly linked to html but I liked it so I kept it */
body {
    background-color: rgb(248, 177, 189);
}

/* This text-align is to make the words on the Jumbotron populate on the center. */
.container {
    text-align: center;
}

/* search input */
#search-form {
    float: left;
}

/* this belongs to the list of cities and the search for city button ... how to I get the list card to go underneath search for city?*/
.list-group, .search {
    float: left;
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
}



.mb-3 {
    float: left;
}